<head>
    <style type="text/css">
        #Text1 {
            width: 111px;
            height: 19px;
            margin-left: 21px;
        }
        #eventTitle {
            width: 432px;
        }
        #submitPopUp {
            height: 499px;
        }
        #Select1 {
            width: 286px;
        }
        #Organizer {
            margin-right: 25px;
        }
        #PhoneNum {
            margin-right: 26px;
        }
        #Free {
            margin-right: 30px;
        }
        #Cost {
            height: 19px;
            width: 73px;
        }
    </style>
</head>
@{
    ViewBag.Title = "Home Page";
}
@Html.Partial("PublishEvent")
<button ID="submitButton" class="submit-event" type="button">Submit Event</button>
<div class="calendar" data-events="@ViewBag.PublishedEvents"></div>


