@using (Html.BeginForm("PublishEvent", "Calendar", FormMethod.Post, new { id = "submitPopUp" })){
<div class="form-group">
        <label for="Event Title">Event Title</label>
        <input type="text" class="form-control" name="publishEventTitle" placeholder="Event Title">
    </div>
    <div class="form-group row">
        <div class="col-xs-12">
            <label for="Event Host">Event Host</label>
        </div>
        <div class="col-xs-6">
            <input type="text" class="form-control" name="publishFirstName" placeholder="First Name" />
        </div>
        <div class="col-xs-6">
            <input type="text" class="form-control" name="publishLastName" placeholder="Last Name" />
        </div>
    </div>
    <div class="form-group">
        <label for="Host Email">Host Contact Email</label>
        <input type="email" class="form-control" name="publishEmail" placeholder="Email">
    </div>
    <div class="form-group row">
        <div class="col-xs-12">
            <label for="Host Contact Phone Number">Host Phone Number</label>
        </div>
        <div class="col-xs-6">
            <input type="text" class="form-control" name="publishPhoneNumber" maxlength="10" placeholder="xxx-xxx-xxxx" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-12">
            <label for="Event Date"> Event Date</label>
        </div>
        <div class="col-xs-12">
            <input type="date" class="form-control" name="publishDate" placeholder="" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-12">
            <label for="Event Time"> Event Time </label>
        </div>
        <div class="col-xs-12">
            <input type="time" class="form-control" name="publishTime"/>
        </div>
    </div>
    for (int i = 0; i < ViewBag.PropertyTypes.Count; i++)
    {
        <div class="form-group">
            <label for="@ViewBag.PropertyTypes[i].Name">@ViewBag.PropertyTypes[i].Name</label>
            @Html.ListBox(
                             (string)ViewBag.PropertyTypes[i].Name,
                             ViewBag.PropertyLists[i] as MultiSelectList,
                             new { multiple = "multiple", }
                         )
            @*@Html.DropDownListFor((String)ViewBag.PropertyTypes[i].Name, (MultiSelectList)ViewBag.PropertyLists[i], new
       {
           @class = "chzn-select",
           data_placeholder = "Choose " + ViewBag.PropertyTypes[i].Name + "s..."
       })*@
        </div>
    }
    <div class="form-group">
        <label for="Event Information">Event Information</label>
        <textarea class="form-control" name="publishEventInformation" rows="4"></textarea>
    </div>
    <div class="form-group">
        <label for="Street Address">Street Address</label>
        <input type="text" class="form-control" name="publishStreetAddress" placeholder="Street Address">
    </div>
    <div class="form-group">
        <label for="Address Line 2">Address Line 2</label>
        <input type="text" class="form-control" name="publishAddressLine2" placeholder="">
    </div>
    <div class="form-group">
        <label for="City">City</label>
        <input type="text" class="form-control" name="publishCity" placeholder="City Name">
    </div>
    <div class="form-group">
        <label for="State">State / Province / Region</label>
        <input type="text" class="form-control" name="publishState" placeholder="State Name">
    </div>
    <div class="form-group">
        <label for="State">Postal / Zip Code</label>
        <input type="text" class="form-control" name="publishZip" placeholder="Postal / Zip Code">
    </div>
    <div class="form-group">
        <label for="State">Country</label>
        <input type="text" class="form-control" name="publishCountry" placeholder="Country Name">
    </div>

    <input type="submit" value="submit" />
}