
@model EDSNCalendar_ProjectBlue.Event.Event
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>@Model.Title</h2>


@Html.ActionLink("Back to List", "EventList", "Admin")

