
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Information Overview:</h1>

<p>Number of Published Events: @ViewBag.PublishedEvents</p>
<p>Number of Submitted Events waiting to be Published: @ViewBag.SubmittedEvents</p>